modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_USERNAME = "GM JOKINGLUIGI"

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-36b46e0d-7260-4143-9d5d-b716d8191906"
